.cards {
    padding: 4rem;
    background: #fff;
  }
  
  h1, h2, h3{
    color: #710039;
    text-align: center;
  }

  h4 {
    color: #272727;
    text-align: center;
}
  
  .subtitle {
    margin: 30px 0px 0px;
    color: #710039;
    font-size: 28px;
  }

  .cards__container {
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 1120px;
    width: 90%;
    margin: 0 auto;
  }
  
  .cards__wrapper {
    position: relative;
    margin: 50px 0 50px;
  }
  
  .cards__items {
    margin-bottom: 24px;
  }
  
  .cards__item {
    display: flex;
    flex: 1;
    margin: 0 20px;
    border-radius: 10px;
  }
  
  .cards__item__link {
    color: #710071;
    display: flex;
    flex-flow: column;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 10px;
    text-decoration: none;
  }

  .cards__item__img:hover {
    transform: scale(1.1);
  }
  
  .cards__item__info {
    padding: 10px 20px 10px;
  }
  
  .cards__item__text {
    color: #272727;
    font-size: 18px;
    line-height: 24px;
    white-space: pre-line;
  }

  .cards__item__title {
    text-align: center;
    color: #390071;
    font-size: 18px;
    line-height: 24px;
  }
  
  @media only screen and (min-width: 1200px) {
    .content__blog__container {
      width: 84%;
    }
  }
  
  @media only screen and (min-width: 1024px) {
    .cards__items {
      display: flex;
    }
  }
  
  @media only screen and (max-width: 1024px) {
    .cards__item {
      margin-bottom: 2rem;
    }
  }